# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\NTNU_skole\Prog2\Obliger, tester og sånt\Oblig3CardGame1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
Oblig3CardGame1.iml
.idea
/target
